img, iframe {
    display: none;
}

div.workout {
    margin-bottom: 5px;
}
div.workout .cui-icon,
.cui-drawer .cui-icon {
    float: right;
}

.workout {
    display: inline-block;
    width: 100%;
}

[data-theme="light"] {
    --body-background-color: #eceff1;
    --body-color: #37474f;

    --cui-card-background-color: #fff;
    --cui-card-color: #37474f;

    --a-color: #1565c0;
    --headers: #37474f;
}

[data-theme="dark"] {
    --body-background-color: #37474f;
    --body-color: #eceff1;

    --cui-card-background-color: #37474f;
    --cui-card-color: #fff;
    --cui-h: #fff;

    --a-color: #ccc;
    --headers: #fff;
}

body,
.cui-drawer-content {
    background-color: var(--body-background-color);
    color: var(--body-color);
}

a, a:hover {
    color: var(--a-color);
}

.cui-control {
    color: var(--body-color);
}

.cui-card {
    background-color: var(--cui-card-background-color);
    color: var(--cui-card-color);
}

.cui-h1, .cui-h2, .cui-h3, .cui-h4, .cui-h5, .cui-h6, 
h1, h2, h3, h4, h5, h6 {
    color: var(--headers);
}
